<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sullivan.signear">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/laucher_icon"
        android:label="@string/signear_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Signearandroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui_login.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui_reservation.ui.ReservationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ReservationTheme"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.sullivan.common.ui_common.initializer.TimberInitializer"
                android:value="androidx.startup" />
        </provider>

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://c1f1b020df4c4e2a9308d24f5e79924b@o914902.ingest.sentry.io/5854448" />
        <meta-data
            android:name="io.sentry.debug"
            android:value="true" />
        <meta-data
            android:name="io.sentry.session-tracking.enable"
            android:value="true" />
<!--        <meta-data-->
<!--            android:name="io.sentry.environment"-->
<!--            android:value="${environment}" />-->
    </application>
</manifest>